.root {
    max-width: 500px;
    margin: '35vh auto';
    float: center;
}
.content {
    display: 'flex';
    flex-direction: 'column';
    align-content: 'flex-start';
}
.div {
    display: 'flex';
    flex-direction: 'row';
    align-content: 'flex-start';
    justify-content: 'space-between';
}
.button {
    margin: '2em auto 1em',
}